<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletAppWeb1</servlet-name>
        <servlet-class>servlets.Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowInState</servlet-name>
        <servlet-class>servlets.ShowInState</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StateForm</servlet-name>
        <servlet-class>servlets.StateForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAppWeb1</servlet-name>
        <url-pattern>/ServletAppWeb1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowInState</servlet-name>
        <url-pattern>/ShowInState</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StateForm</servlet-name>
        <url-pattern>/StateForm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
